@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	color: white;
	scroll-behavior: smooth;
	-webkit-user-select: none;
	user-select: none;
}

body {
	background-image: linear-gradient(to bottom, #080a38, #030420, #000000 99%);
	display: grid;
	place-items: center;
	flex-direction: column;
	overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-image: linear-gradient(to bottom, #030420, #000000 99%);
}
::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 20px;
}

/* Fade in animations */
.hidden {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity 1s, filter 1s, transform 1s;
}
.show {
	transform: translateX(0);
	opacity: 1;
}

/* Sections */
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 106vh;
}
/* Section arrows */
.fa-angles-down,
.fa-angles-up {
	opacity: 40%;
	margin-top: 50px;
	transition: opacity 0.5s;
	cursor: pointer;
}
.fa-angles-down:hover,
.fa-angles-up:hover {
	opacity: 75%;
}

/* Home */
.home-title {
	font-size: 4rem;
}

/* Logos */
.logos {
	margin-top: 20px;
	display: flex;
	width: 400px;
	justify-content: space-between;
}
.logo {
	cursor: pointer;
}
.logo:nth-child(2) {
	transition-delay: 300ms;
}
.logo:nth-child(3) {
	transition-delay: 600ms;
}
.logo:nth-child(4) {
	transition-delay: 900ms;
}
.logo:nth-child(5) {
	transition-delay: 1200ms;
}
.logo:nth-child(6) {
	transition-delay: 1500ms;
}

/* Copyright notice */
.copyright {
	width: 100%;
	text-align: center;
}

/* Page end */
.pageend {
	height: 97vh;
}

/* card */
.card-list {
	width: 55%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.card {
	width: 200px;
	height: 150px;
	background-size: cover;
	border-radius: 12px;
	margin-bottom: 10px;
	cursor: pointer;
	transform: filter 1s;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 2px 2px #000;
}
a {
	text-decoration: none;
}
.card:nth-child(2) {
	transition-delay: 300ms;
}
.card:nth-child(3) {
	transition-delay: 600ms;
}
.card:nth-child(4) {
	transition-delay: 900ms;
}
#card-centrl {
	background-image: url("./images/centrl.png");
}
#card-moist {
	background-image: url("./images/moist.png");
}
#card-matswipe {
	background-image: url("./images/matswipe.png");
}
#card-bamboo {
	background-image: url("./images/bamboo.png");
}
/* Projects header */
.projects-header {
	margin-bottom: 25px;
}

@media only screen and (max-width: 435px) {
	/* HOME */
	.home-title {
		font-size: 2rem;
	}
	.home-subtitle {
		padding: 0 5vw 0 5vw;
		font-size: 1rem;
		text-align: center;
	}

	/* Frameworks */
	.frameworksHeader {
		text-align: center;
		font-size: 2rem;
	}
	.logos {
		padding: 0 5vw 0 5vw;
		margin-top: 20px;
		display: flex;
		width: 100vw;
		justify-content: space-between;
	}

	/* Projects */
	.projects-header {
		font-size: 2rem;
		text-align: center;
	}
	.card-list {
		width: 90%;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	.card {
		width: 150px;
		height: 150px;
		background-size: cover;
		border-radius: 12px;
		margin-bottom: 10px;
		cursor: pointer;
		transform: filter 1s;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: bold;
		text-shadow: 2px 2px #000;
	}
}
